body{
	background-color:#ffffff;
}

#header {
	width:100vw;
	height:30vh;
	position:fixed;
	overflow: scroll;
	left:0;
	top:0;
}


#feed p {
	clear:both;
	width:100vw;
	text-align:center;
	color:#444444;
	font-family: sans-serif;
	font-size:1.5vh;
}

#feed .sentMessage {
	float:right;
	background:lightblue;
	width:auto;
	height:2.5vh;
	border-radius:2.5vh;
	padding:0.6vh 1.2vh;
	margin-right:1vw;
}

#feed .sentMessage img {
	height:2.5vh;
	width:2.5vh;
}



#score {
	float:left;
	clear:both;
	width:auto;
	height:4.4vh;
	background-color: #bbbbbb;
	border-radius:4vh;
	padding:1.6vh 2.1vh;
	margin-left:1vw;
}

#score p {
	color:black;
	font-size:1.8vh;
	font-family:sans-serif;
	margin-top:-0.5vh;
}



#message {
	clear:both;
}



#write {
	position:fixed;
	top:33vh;
	left:1vw;
	height:3vh;
	width:98vw;
}

#write #userInput {
	width:90vw;
	height:3vh;
	border-radius:3vh;
	border:1px solid grey;
}

#write #send {
	width:7vw;
	height:3vh;
	border-radius:3vh;
	background-color:#aaaaaa;
	border:1px solid grey;
}





#menu {
	width:100vw;
	height:60vh;
	bottom:0; 
	/* position: fixed; */
	overflow: scroll; 
}

#emojiTable {
	visibility: hidden;
	position:absolute;
	bottom: 0;
}

#emojiTable td {
	height:9vh;
	background-size:10vh;
	padding:1.5vh 7vh;
	background-repeat:no-repeat;
}

#emojiTable .inactive {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#emojiTable .overlay{
	position:absolute;
	z-index:100;
	width:9vh;
	height:9vh;
	margin:-5.5vh 7vh 1.5vh -6.5vh;
}

#emojiTable .active .overlay:hover{
	background-color:rgba(255,255,255,0.6);
	cursor: pointer;
}





#post {
	position:fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	z-index:200;
	background-color:rgba(0,0,0,0.6);
	visibility:hidden;
}

#post #postwindow {
	position:fixed;
	width:80vw;
	height:80vh;
	left:10vw;
	top:10vh;
	z-index: 201;
	background-color:white;
	border-radius:20vmin;
}

#post #closePost {
	background-image:url("Images/iOS/840.png");
	background-position: center;
	background-color:rgba(255,255,255,0.6);
	background-size:1.6vh;
	height:2vh;
	width:2vh;
	border-radius: 1vh;
	background-repeat:no-repeat;
	margin-top:2vh;
	margin-left:2vh;
}

#post #closePost .overlay {
	height:2vh;
	width: 2vh;
	border-radius:1vh;
	background-color:rgba(0,0,0,0);
}

#post #closePost .overlay:hover {
	background-color:rgba(255,255,255,0.4);
	cursor: pointer;
}
